.footer-container {
  bottom: 0;
  margin: 0;
  left: 0;
  position:absolute;
  width: 100%;
  color: white;
  justify-content: space-between;
  display: flex;
  padding: 20px 0;

  .description {
    display: flex;
    flex: 2;
    justify-content: center;
  }

}

