.mat-tree {
  background-color: transparent;

  .mat-tree-node {
    color: white;
    border: 2px solid white;
    border-radius: 10px;

    &:not(.is-parent) {
      border: 1px dotted white;
    }
  }
}
