@use "src/assets/styles/colors" as colors;

.text-editor-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;

  border: 1px solid #cccccc;

  .editor-actions {
    border-bottom: 1px solid #cccccc;
    padding: 20px 12px;
    display: flex;
    justify-content: flex-end;

    button {
      width: 30px;
      height: 30px;
      margin: 4px;
      border-radius: 4px;
      display: flex;
      background-color: white;
      border: 1px solid #64666d;
      justify-content: center;

      .mat-icon {
        font-size: 14px;
        line-height: 30px;
        color: #64666d;
      }
        &:hover {
          opacity: .5;
        }
    }
  }

  .content {
    padding: 12px;
    min-height: 317px;
    max-height: 317px;
    overflow-y: scroll;
    color: #000000;


    &::-webkit-scrollbar {
      background: #cccccc;
      width: 10px !important; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #cccccc;
      border-bottom-right-radius: 10px;
      /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      width: 15px;
      background-color: #de411b; /* color of the scroll thumb */
    }


    .typing-animation {
      font-size: 16px;
      overflow: hidden;
      color: #333333;
      width: 240px;
      white-space: nowrap;
      animation: typing 3s steps(40);
    }

    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        width: 400px;
        border-right: none;
      }
    }
  }
}
