@use "src/assets/styles/colors" as colors;

.generate-docs-card {
  min-width: 80%;
  width: 90%;
  display: block;
  margin: 0 auto;
  box-shadow: none;
  background: none;
  padding-bottom: 80px;

  .form-card-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content-wrapper {
    padding-top: 15px;

    .generate-docs-form {
      //display: grid;
      //grid-template-columns: repeat(1, 1fr);
      //grid-row-gap: 0;
      //grid-column-gap: 16px;
    }

      .register-flow-btn {
        background: colors.$primary;
        color: colors.$color-white;
        height: 40px;
        padding: 6px;

        &:hover {
          opacity: .5;
        }
    }
  }
}

::ng-deep .mat-card-header {
  .mat-card-header-text {
    margin: 0;
  }
}

@media(min-width: 768px) {
  .generate-docs-card {
    width: 80%;
    min-width: 80%;
    .content-wrapper {
      padding-top: 0;
      .generate-docs-form {
        display: grid;
        grid-column-gap: 16px;
        grid-template-areas:
          'box1 box1 box1 box1 box1 box1 box1 box1 box1'
          'box2 box2 box2 box2 box2 box2 box2 box2 box3';

        .flow {
          grid-area: box1;
        }

        .documentation-options {
          grid-area: box2;
        }

        .register-flow-btn {
          grid-area: box3;
        }

        .register-flow-btn {
          height: 52px;
          position: relative;
          top: 3px;

          &:hover {
            opacity: .5;
          }
        }
      }
    }

    .text-editor-container {
      height: 420px;
    }
  }
}

