@import "assets/styles/mat-form-field";
@import "assets/styles/mat-spinner";
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.cdnfonts.com/css/roboto-condensed');

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 1px;
  position: relative;
}

.markdown-content {
  code {
    color: #48D1CC;
    font-style: italic;
  }

  p {
    line-height: 1.5;
  }
}
