@import "assets/styles/mat-form-field";
@import "assets/styles/mat-spinner";
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body {
  margin: 0;
  padding: 0;
}
body {   font-family: "Open Sans", sans-serif; background-color: #3c4560; min-height: 100vh; padding: 1px;
  position: relative; }

 .markdown-content {
  code {
    color: #48D1CC;
    font-style: italic;
  }

   p {
     line-height: 1.5;
   }
}
