@use "src/assets/styles/colors" as colors;
.mat-form-field {
  width: 100%;
}

/* Set the placeholder color to white */
.mat-form-field.focused .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field.focused .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field .mat-input-element::placeholder {
  color: white;
}


.mat-form-field .mat-form-field-outline {
  color: white;
}

.mat-form-field-disabled {

  .mat-form-field-outline {
    border: 2px solid darkgray;
    border-radius: 5px;
  }

  .mat-select-arrow {
    color: darkgray !important;
  }
}

/* Set the text color to white */
.mat-select .mat-select-placeholder, .mat-select.mat-select-dark .mat-select-value-text {
  color: white;
}

/* Set the background color for selected and hover options */
.mat-select-panel .mat-option.mat-selected, .mat-select-panel.mat-select-dark .mat-option:hover {
  //background-color: colors.$primary; /* Replace $primary with the actual color value */
  color: #333333!important;
}


.mat-select-arrow {
  color: white;
}

.mat-select-value-text {
  color: white;
}

.mat-form-field .mat-form-field-label,
.mat-form-field .mat-placeholder {
  color: white;
}



